.game {
  margin: 50px;
  background-color: cyan;
  height: 500px;
  width: 500px;
  border: dotted black 2px;
}

.box {
  height: 50px;
  width: 50px;
  display: inline-block;
  border: solid black 1px;
}

.player {
  transform: translateY(225px);
  background-color: darkblue;
  animation: move 2s infinite linear;
  animation-play-state: paused;
}

.enemy {
  margin-left: 100px;
  background-color: red;
  animation: bounce 2s infinite linear;
}

.enemy.one {
  animation-duration: 3s;
}

.enemy.two {
  animation-duration: 2s;
}

@keyframes bounce {
  50% {
    transform: translateY(430px);
  }
}

@keyframes move {
  50% {
    transform: translateX(450px) translateY(225px);
  }
}

.game:active .player {
  animation-play-state: running;
}
