body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  color: black;
  height: 100vh;
}

.type {
  margin-left: 10px;
}

.type::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 4%;
  border-right: 2px solid black;
  margin-left: 2px;
  animation: blink 0.75s infinite ease;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
